.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/fonts
/junk
/src
/notes
/data-raw

data/cps_sep2024.Rdata
data/cps_sep2024.csv
data/cps_sep2024_codebook.csv
data/likert_plots.rds
data/cps_sep2024.rds

.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

response_memo.qmd
response_memo.pdf